<div class="col-xs-3" style="user-select: auto;">
  <h2 style="user-select: auto;">User info</h2>
  <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image" style="user-select: auto;"> <!-- 変更 -->

  <table class="table" style="user-select: auto;">

    <tbody style="user-select: auto;"><tr style="user-select: auto;"></tr>
      <tr style="user-select: auto;">
        <th style="user-select: auto;">name</th>
        <th style="user-select: auto;">qqq</th> <!-- 変更 -->
      </tr>
      <tr style="user-select: auto;">
        <th style="user-select: auto;">introduction</th>
        <th style="user-select: auto;"></th> <!-- 変更 -->
      </tr>
    </tbody>

  </table>

  <div class="row" style="user-select: auto;">
    <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17750" href="/users/17750/edit" style="user-select: auto;"></a> <!-- 変更 -->
  </div>

  <h2 style="user-select: auto;">New book</h2>
  <%= form_for(@book) do |f| %> <!-- 変更 -->

    <div class="field row" style="user-select: auto;">
      <label for="book_title" style="user-select: auto;">Title</label>
      <%= f.text_field :title, class:"col-xs-12" %> <!-- 変更 -->
    </div>

    <div class="field row" style="user-select: auto;">
      <label for="book_opinion" style="user-select: auto;">Opinion</label>
      <%= f.text_area :body, class:"col-xs-12 book_body" %> <!-- 変更 -->
    </div>

    <div class="actions row" style="user-select: auto;">
      %= f.submit "Create Book", class:"btn btn-primary col-xs-12" %> <!-- 変更 -->
    </div>

  　　<% end %> <!-- 変更 -->
</div>