<body>

<!-- サクセスメッセージ -->

  	<div class="body" style="user-select: auto;">
      <div class="container" style="user-select: auto;">

        <p id="notice" style="user-select: auto;">Signed in successfully.</p>


      	<div class="row" style="user-select: auto;">

<!-- 左側 -->

  <div class="col-xs-3" style="user-select: auto;">
    <h2 style="user-select: auto;">User info</h2>
    <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image" style="user-select: auto;"><table class="table" style="user-select: auto;">
      <tbody style="user-select: auto;"><tr style="user-select: auto;"></tr>
      <tr style="user-select: auto;">
    	  <th style="user-select: auto;">name</th>
    	  <th style="user-select: auto;">takuma</th>
      </tr>
      <tr style="user-select: auto;">
    	  <th style="user-select: auto;">introduction</th>
    	  <th style="user-select: auto;"></th>
      </tr>
</tbody></table>

<div class="row" style="user-select: auto;">
  <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17751" href="/users/17751/edit" style="user-select: auto;"></a>
</div>

    <h2 style="user-select: auto;">New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post" style="user-select: auto;"><input name="utf8" type="hidden" value="✓" style="user-select: auto;"><input type="hidden" name="authenticity_token" value="e47PLU6aAFH20Z86P7uUM2DyQ4uSsVPZ0a+LWfzROYGzUzIwSGYtr4gcuYerFWuFOhw9Ah4pd/U2zed+uw+Pqw==" style="user-select: auto;">
  <div class="field row" style="user-select: auto;">
    <label for="book_title" style="user-select: auto;">Title</label>
    <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title" style="user-select: auto;">
  </div>

  <div class="field row" style="user-select: auto;">
    <label for="book_opinion" style="user-select: auto;">Opinion</label>
    <textarea class="col-xs-12 book_body" name="book[body]" id="book_body" style="user-select: auto;"></textarea>
  </div>

  <div class="actions row" style="user-select: auto;">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" style="user-select: auto;">
  </div>
</form>

  </div>


<!-- 右側 -->


  <div class="col-xs-9" style="user-select: auto;">
    <h2 style="user-select: auto;">Books</h2>

    <table class="table table-hover table-inverse" style="user-select: auto;">
  <thead style="user-select: auto;">
    <tr style="user-select: auto;">
      <th style="user-select: auto;"></th>
      <th style="user-select: auto;">Title</th>
      <th style="user-select: auto;">Opinion</th>
      <th colspan="3" style="user-select: auto;"></th>
    </tr>
  </thead>

  <tbody style="user-select: auto;">
  </tbody>
</table>
  </div>
</div>
      </div>
    </div>
