






  	<div class="body" style="user-select: auto;">
      <div class="container" style="user-select: auto;">
<!-- サクセスメッセージ -->
        <p id="notice" style="user-select: auto;"></p>




<div class="row" style="user-select: auto;">
  <!-- 左側 -->
<%= render 'template/sidebar' %>


  <!-- 右側 -->

  <div class="col-xs-9" style="user-select: auto;">
    <h2 style="user-select: auto;">Books</h2>

    <table class="table table-hover table-inverse" style="user-select: auto;">
  <thead style="user-select: auto;">
    <tr style="user-select: auto;">
      <th style="user-select: auto;"></th>
      <th style="user-select: auto;">Title</th>
      <th style="user-select: auto;">Opinion</th>
      <th colspan="3" style="user-select: auto;"></th>
    </tr>
  </thead>

  <tbody style="user-select: auto;">
    <% @books.each do |book| %>

      <tr style="user-select: auto;">
        <td style="user-select: auto;">
          <a href="/users/17750" style="user-select: auto;">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon" style="user-select: auto;"></a>
        </td>
        <td style="user-select: auto;"><%= book.title %></td>
        <td style="user-select: auto;"><%= book.body %></td>
      </tr>

    <% end %>

  </tbody>
</table>
  </div>
</div>

      </div>
    </div>








