<div class="body" style="user-select: auto;">
  <div class="container" style="user-select: auto;">

<!-- サクセスメッセージ -->
     <p id="notice" style="user-select: auto;"></p>

    <div class="row" style="user-select: auto;">



<!-- 左側 -->
  　　<div class="col-xs-3" style="user-select: auto;">
      <h2 style="user-select: auto;">User info</h2>
      <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image" style="user-select: auto;"><table class="table" style="user-select: auto;">

        <tbody style="user-select: auto;"><tr style="user-select: auto;"></tr> 
          <tr style="user-select: auto;">
        	  <th style="user-select: auto;">name</th>
        	  <th style="user-select: auto;">qqq</th>
          </tr>
          <tr style="user-select: auto;">
        	  <th style="user-select: auto;">introduction</th>
        	  <th style="user-select: auto;"></th>
          </tr>
   　　　 </tbody></table>

       　 <div class="row" style="user-select: auto;">
          　　<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17750" href="/users/17750/edit" style="user-select: auto;"></a>
       　 </div>

      <h2 style="user-select: auto;">New book</h2>
      <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post" style="user-select: auto;"><input name="utf8" type="hidden" value="✓" style="user-select: auto;"><input type="hidden" name="authenticity_token" value="YX8nmWRb+S0r2miVYl7uUf3r42p3a4Zbfajp4jzJKcrkictgxHRL06b+VvqBVZD5fWg/oZw4scKAsvgo7Pa58A==" style="user-select: auto;">
        <div class="field row" style="user-select: auto;">
          <label for="book_title" style="user-select: auto;">Title</label>
          <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title" style="user-select: auto;">
        </div>

        <div class="field row" style="user-select: auto;">
          <label for="book_opinion" style="user-select: auto;">Opinion</label>
          <textarea class="col-xs-12 book_body" name="book[body]" id="book_body" style="user-select: auto;"></textarea>
        </div>

        <div class="actions row" style="user-select: auto;">
          <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" style="user-select: auto;">
        </div>

  　　</form>
 　 </div>

<!-- 右側 -->

  <div class="col-xs-9" style="user-select: auto;">
		<h2 style="user-select: auto;">Book detail</h2>
		<table class="table" style="user-select: auto;">
		  <tbody style="user-select: auto;"><tr style="user-select: auto;">
        <td style="user-select: auto;"><a href="/users/17750" style="user-select: auto;">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon" style="user-select: auto;"><br style="user-select: auto;">
          qqq
</a>        </td>
        <td style="user-select: auto;"><a href="/books/28462" style="user-select: auto;">sdfdsfs</a></td>
        <td style="user-select: auto;">dfsagfadga</td>

      </tr>
    </tbody></table>

  </div>


　　</div>
  </div>
</div>